<!-- <iframe  height="100%" width="100%" [src]="url" name="iframe_a"></iframe> -->

<!-- <ion-content> -->
    <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
        <div style="margin-top: 35px;" class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <!-- <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <iframe height="100%" width="100%" [src]="url" name="iframe_a"></iframe>
                        </div>
                    </div> -->
                        <iframe height="500px" width="100%" [src]="url" name="iframe_a"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </ion-content> -->